[Unit]
Description=Homedaemon backend docker service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull angrysoft/homed-web-backend:latest
ExecStart=/usr/bin/docker run --rm --name %n \
    --env-file=/etc/homedaemon/web.env
    -p 8080:8080 \
    angrysoft/homed-web-backend:latest

[Install]
WantedBy=default.target