[Unit]
Description=FixtureDb docker srvice
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull angrysoft/fixturedb:latest
ExecStart=/usr/bin/docker run --rm --name %n \
    -v fixturedb-data:/data \
    -p 3000:3000 \
    angrysoft/fixturedb:latest

[Install]
WantedBy=default.target